   <%- include('partials/header') %>

      

    <section class="campaign">
        <div class="campaign-text">
           
            <button class="shop-btn"> <a href="/books" ></a> Başla</button>
        </div>
        <div class="campaign-books">
            <img src="/images/default_book" alt="Kitap 1">
            <img src="/images/default_book" alt="Kitap 2">
            <img src="/images/default_book" alt="Kitap 3">
        </div>
    </section>

    <%- include('partials/footer') %>