   <%- include('partials/header') %>

      

    <section class="campaign">
        <div class="campaign-text">
            <h2>Seçili Kitaplarda <span>Büyük İndirim!</span></h2>
            <button class="shop-btn">Alışverişe Başla</button>
        </div>
        <div class="campaign-books">
            <img src="/images/book1.jpg" alt="Kitap 1">
            <img src="/images/book2.jpg" alt="Kitap 2">
            <img src="/images/book3.jpg" alt="Kitap 3">
        </div>
    </section>

    <%- include('partials/footer') %>