   <%- include('partials/header') %>

  <% if (query.success === '1') { %>
  <script>
    alert("Ödeme başarılı! Sepetiniz temizlendi.");
  </script>
<% } %>

<section class="campaign">
  <div class="category-grid-custom">
    <a href="/books" class="category-box-custom">
      <img src="/images/categories/books.jpg" alt="Books">
      <p>Tüm Kitaplar</p>
    </a>
    <a href="/books?q=&genre=Thriller&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/thriller.jpg" alt="Thriller">
      <p>Gerilim</p>
    </a>
    <a href="/books?q=&genre=Self-Help&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/selfhelp.jpg" alt="Self-Help">
      <p>Kişisel Gelişim</p>
    </a>
    <a href="/books?q=&genre=Science Fiction&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/scifi.jpg" alt="Science Fiction">
      <p>Bilim Kurgu</p>
    </a>
    <a href="/books?q=&genre=Science&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/science.jpg" alt="Science">
      <p>Bilim</p>
    </a>
    <a href="/books?q=&genre=Romance&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/romance.jpg" alt="Romance">
      <p>Romantik</p>
    </a>
    <a href="/books?q=&genre=Psychology&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/psychology.jpg" alt="Psychology">
      <p>Psikoloji</p>
    </a>
    <a href="/books?q=&genre=Mythology&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/mythology.jpg" alt="Mythology">
      <p>Mitoloji</p>
    </a>
    <a href="/books?q=&genre=Mystery&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/mystery.jpg" alt="Mystery">
      <p>Gizem</p>
    </a>
    <a href="/books?q=&genre=Horror&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/horror.jpg" alt="Horror">
      <p>Korku</p>
    </a>
    <a href="/books?q=&genre=History&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/history.jpg" alt="History">
      <p>Tarih</p>
    </a>
    <a href="/books?q=&genre=Historical Fiction&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/historicalfiction.jpg" alt="Historical Fiction">
      <p>Tarihi Kurgu</p>
    </a>
    <a href="/books?q=&genre=Fiction&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/fiction.jpg" alt="Fiction">
      <p>Kurgu</p>
    </a>
    <a href="/books?q=&genre=Fantasy&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/fantasy.jpg" alt="Fantasy">
      <p>Fantastik</p>
    </a>
    <a href="/books?q=&genre=Dystopian&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/dystopian.jpg" alt="Dystopian">
      <p>Distopik</p>
    </a>
    <a href="/books?q=&genre=Classic&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/classic.jpg" alt="Classic">
      <p>Klasik</p>
    </a>
    <a href="/books?q=&genre=Biography&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/biography.jpg" alt="Biography">
      <p>Biyografi</p>
    </a>
    <a href="/books?q=&genre=Adventure&minPrice=&maxPrice=&author=&minYear=&maxYear=&minPages=&maxPages=&minRating=&maxRating=" class="category-box-custom">
      <img src="/images/categories/adventure.jpg" alt="Adventure">
      <p>Macera</p>
    </a>
  </div>


</section>


    <%- include('partials/footer2') %>