

<%- include('partials/header') %>

    <div class="login-box">
        <h2>Giriş Yap</h2>

        <% if (typeof error !== 'undefined') { %>
            <div class="error"><%= error %></div>
        <% } %>

        <form method="POST" action="/login">
            <input type="email" name="email" placeholder="E-posta" required>
            <input type="password" name="password" placeholder="Şifre" required>
            <button type="submit">Giriş Yap</button>
        </form>

        <!-- Kullanıcı hesabı yoksa yönlendirme -->
        <p>Hesabın yok mu? <a href="/register">Buradan kayıt ol</a></p>
        <p> <a href="/">Ana sayfaya dön</a></p>
    </div>

<%- include('partials/footer') %>